* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  background-image: url("../images/cover.jpg");
}
.Inner-Container {
  height: auto;
}
.ankertag {
  font-size: 2vw;
  padding: 15px;
  background-color: white;
  filter: opacity(0.9);
  text-decoration: none;
  color: black;
  border-radius: 12px;
  margin: 14px;
}
